body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

input {
  font-family: "Roboto Mono", monospace;
}

span {
  text-align: right;
}

.App {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#point-input {
  height: 7vh;
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}

#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#table {
  width: 250px;
}
